# folders do not be uploaded


DupNAS/genonnx/inferred_onnx/
DupNAS/genonnx/data/
DupNAS/__pycache__/
README-old.md
__pycache__/
*.pyc
*.bat
*.xlsx
DupNAS/sample_onnx/inception/*.onnx
DupNAS/sample_onnx/shufflenet/*.onnx
DupNAS/sample_onnx/mobilenet/*.onnx

*.onnx.filepart